a{
    color:white !important;
}
#link{
    color:blue !important;
}
button{
    margin:15px auto;
}

 
.auth-card{
    padding:20px;
    text-align: center;
    max-width: 400px;
    margin:50px auto;
}
.input-field input:focus {
    border-bottom: 1px solid #ec407a !important;
    box-shadow: 0 1px 0 0 #ec407a !important;
  }

  #toast-container{
      bottom:30px;
      right:280px;
      left:auto;
      color:rgb(228, 59, 59)
  }
  .moveme{
      margin-left: 20px;
      
  }